<?xml version="1.0" encoding="utf-8" ?>
<setup>
    <username><!-- Username must match the user whose access token is specified --></username>
    <oauth>
      <consumerKey>KEY</consumerKey>
      <consumerSecret>SECRET</consumerSecret>
      <requestToken></requestToken>
      <requestTokenSecret></requestTokenSecret>
      <accessToken></accessToken>
      <accessTokenSecret></accessTokenSecret>
    </oauth>
    <allowposts>false</allowposts><!--set to true to enable tests that make changes, posts statuses, etc-->
    <recipient><!--recipient used to test @replies and dms-->
        <id>12345</id>
        <screenName>screenName</screenName>
    </recipient>
    <celebrity>
      <screenName>garyvee</screenName><!--name of a user with a lot of followers, used to test paging -->
    </celebrity>
    <nonfriend>
        <screenName>oprah</screenName><!--name of a user that <username> does not follow-->
    </nonfriend>
    <protecteduser>tootsecret</protecteduser><!--username of a protected account-->
    <protecteduserpassword>B'oFzPZZ</protecteduserpassword><!--password for protected account-->
    <proxy>https://api.twitter.com/1</proxy> <!-- transparent proxy to replace twitter endpoint -->    
    <lists><!-- Twitter Lists API (optional if not in use) -->
      <listId>1234</listId><!--the id of a list belonging to <username> to be used in list tests-->
      <listSlug>best-list-ever</listSlug><!--the name of a list belonging to <username> to be used in list tests-->
      <listMember>joepesci</listMember><!--the name of a user belonging to <listSlug>-->
      <nonListMember>freddiefingers</nonListMember><!--the name of a user not belonging to <listSlug>-->
      <listSubscriber>joepesci</listSubscriber><!--the name of a user following <listSlug>-->
      <nonListSubscriber>freddiefingers</nonListSubscriber><!--the name of a user not following <listSlug>-->
      <tempListSlug>testlist</tempListSlug><!--name of a list to be created and destroyed in multiple tests (make it unique)-->
      <followListOwner>dimebrain</followListOwner><!--list owner of <followListSlug> (must exist)-->
      <followListSlug>ottawa</followListSlug><!--name of a list to be followed and unfollowed (must exist)-->      
    </lists>
    <failwhaleproxy>http://failwhale.diller.ca</failwhaleproxy><!--proxy that always returns http 502-bad gateway-->
    <yammerusername>user@example.com</yammerusername><!--the user name of a valid yammer user-->
    <yammeroauth><!--oauth details for the yammer network-->
        <consumerKey></consumerKey>
        <consumerSecret></consumerSecret>
        <requestToken></requestToken>
        <requestTokenSecret></requestTokenSecret>
        <accessToken></accessToken>
        <accessTokenSecret></accessTokenSecret>
    </yammeroauth>
    <yammeruserid>1234</yammeruserid><!--id of a valid user in your yammer network-->
    <yammertagid>4321</yammertagid><!--id of a valid tag in your yammer network-->
    <yammergroupid>9999</yammergroupid><!--id of a valid group in your yammer network-->
    <yammernetworkdomain>example.com</yammernetworkdomain><!--the email domain corresponding to your yammer network-->
    <yammerusertoinvite>jason-abcdefg</yammerusertoinvite><!--an email address in the @yammernetworkdomain network to send invites to-->
</setup>