<?xml version="1.0"?>
<configuration>
  <system.net>
    <connectionManagement>
      <add address="http://api.twitter.com" maxconnection="48"/>
      <add address="*" maxconnection="2"/>
    </connectionManagement>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
